<div>
    <div class="row">
        <div class="col-xs-10 col-md-10">
            <span>
                <a class="back-link"><mat-icon>arrow_left</mat-icon></a>
                Hola! Configuremos tu perfil
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-12">
            <span>Queremos conocerte mejor</span>
        </div>
    </div>
    <form>
        <div class="row">
            <div class="col-6 col-md-6">
                <app-load-image></app-load-image>
            </div>
            <div class="col-6 col-md-6">
                <app-information></app-information>
            </div>
        </div>
    </form>
</div>