<div>
    <div class="row mt-3 p-4">
        <div class="col-xs-10 col-md-10">
            <span class="hi-profile">
                <a class="back-link"><mat-icon>arrow_back_ios</mat-icon></a>
                ¡Hola! Configuremos tu perfil
            </span>
            <span class="know-you">Queremos conocerte mejor</span>
        </div>
    </div>
    <form>
        <div class="row offset-md-1">
            <div class="col-5 col-md-5">
                <app-load-image></app-load-image>
            </div>
            <div class="col-6 col-md-6">
                <app-information></app-information>
            </div>
        </div>
    </form>
</div>