.image-profile
    background-color: #FFC600
    max-width: 392px
    border-radius: 50px
    min-height: 600px
    max-height: 600px
    

.image-label
    font-family: Poppins
    font-style: normal
    font-weight: normal
    font-size: 30px
    line-height: 45px
    display: flex
    align-items: center
    text-align: center
    color: #000000

.image-profile-picture
    width: 269px
    height: 269px
    padding-left: 54px
    padding-right: 54px
    border: 14px solid #FFFFFF
    box-sizing: border-box
    border-radius: 50%
    align-items: center
    display: flex
    background: #E7EFF5

.image-profile-upload
    border: 1px dashed #9BB8D3
    border-radius: 10px
    width: 334px
    height:70px
    align-items: center
    display: flex
    background-color: #FFFFFF
    color: #9BB8D3
    padding-left: 34px
    padding-right: 34px

.profile-hide
    display: none

.profile-label
    font-size: 14px
    font-family: Poppins
    font-style: normal
    padding-left: 25px
    color: #2C85BC

.profile-name
    font-family: Poppins
    font-style: normal
    font-weight: bold
    font-size: 35px
    line-height: 52px
    display: flex
    align-items: center
    text-align: center
    color: #185A7D

.material-icons-outlined
    color: #2C85BC

.icon-red
    color: #DF1C24


.profile-info
    padding-left: 34px
    padding-right: 34px


.profile-info-label
    width: 157px
    height: 36px
    left: 0px
    top: 0px
    font-family: Poppins
    font-style: normal
    font-weight: bold
    font-size: 24px
    line-height: 36px
    display: flex
    align-items: center
    text-align: left
    color: #4B4B4B
    flex: none
    order: 0
    flex-grow: 0
    margin: 8px 0px

.profile-info-description
    width: 118pxs
    height: 36px
    left: 22px
    top: 0px
    font-family: Poppins
    font-style: normal
    font-weight: normal
    font-size: 24px
    line-height: 36px
    display: flex
    align-items: center
    text-align: right
    color: #4B4B4B
    flex: none
    order: 0
    flex-grow: 0
    margin: 8px 0px